@charset "UTF-8";

@import "base/reset.css";

/********************
* 変数
********************/
:root{
  --main-color: #f00;
  --base-color: #f6f6f6;
  --accent-color: #D4413D;
  --font-color: #555;
}

@custom-media --iPad screen and (min-width:680px) and (max-width:980px);





/********************
* default
********************/
html{
  font-size: 62.5%;
}

body{
  font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
  font-size: 1.6rem;
  color: var(--font-color);
  line-height: 1.5;
}





/********************
* .main_img
********************/







/********************
* header
********************/







/********************
* .gnav
********************/







/********************
* main
********************/




/********************
* .about
********************/







/********************
* .product
********************/






/********************
* .choosy
********************/







/********************
* .news
********************/







/********************
* footer
********************/
.footer{
  background-color: #393944;
  padding: 30px;
  text-align: center;
  color: #fff;
}
